body{
    background:#778899;
   
}

html{
    box-sizing:border-box;
    }
    *,*:before, *:after{
    box-sizing:inherit;
    }
    

#wrapper{
    margin-left:auto;
	margin-right:auto;
	width:1000px;
	padding-bottom:20px;
}

header{
    color:white;
    font-size:50px;
    font-family:Courier New;
    text-align:center; 
}
.fileInput{
    display:block;

    padding:80px;
    text-align:center;
    height:200px
}
.fileInput input{

    text-align:center;
    padding-left:30px
}

.details{
    display:inline-block;
    width:100%;
    color:white;
}
.details h1{
    padding-left:20px;
}
.about{
    background-color:#000026;
    width:490px;
    height:300px;
    float:left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.how{
    background-color:#000026;
    width:490px;
    height:300px;
    float:right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about h1{
    font-size:25px;
    font-family:Courier New;
}

.details h1{
   
    font-size:25px;
    font-family:Courier New;
}