<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
        <title> FitYourJeans </title>
        

        <link href="https://fonts.googleapis.com/css?family=Exo|Pacifico" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/styles/style.css" type="text/css">
        <link rel="stylesheet" href="http://cdn.jsdelivr.net/animatecss/2.1.0/animate.min.css">
    </head>  
    <body>
            <ul class="nav nav-tabs">
                    <li><a href="home.html">Home</a></li>
                    <li><a href="aboutus.html">About Us</a></li>
                    <li><a href="#">How It Works</a></li>
                    <li><a href="#">Contact Us</a></li>
            </ul>
            <div class="about-content">
            <h1 >About Us</h1>
            <center> <img src="pictures/group.jpg"></center>
            <h2 style="text-align:center;padding-top:20px;"> Team Members:</h2>
         

            <!-- <div class="row">
                    <div class="col"><h3>Wesley Christyono<br>Senior<br>B.S. in Business Information Management (UCI) <br> Front-end Developer</h3></div>
                    <div class="col"><h3>Ryan Aveo<br>Junior<br>B.S. in Computer Science (UCI) <br> Back-end Developer</h3></div>
                    <div class="w-100"></div>
                    <div class="col"><h3>Peter Noh<br>Junior<br>B.S. in Computer Science (UCI) <br> Back-end Developer</h3></div>
                    <div class="col"><h3>Michelle Woo<br>Junior<br>B.S. in Computer Science (UCI) <br> Front-end Developer</h3></div>
            </div>
             -->
            <center>
            <table class="table" style="width:80%; ">
                    <thead>
                      <tr>
                        <th><h3>Wesley Christyono<br>Senior<br>B.S. in Business Information Management (UCI) <br> Front-end Developer</h3></th>
                        <th><h3>Ryan Aveo<br>Junior<br>B.S. in Computer Science (UCI) <br> Back-end Developer</h3></th>
                    </tr>
                    </thead>
                    <thead>
                            <tr>
                            <th><h3>Peter Noh<br>Junior<br>B.S. in Computer Science (UCI) <br> Back-end Developer</h3></th>
                            <th><h3>Michelle Woo<br>Junior<br>B.S. in Computer Science (UCI) <br> Front-end Developer</h3></th>
                            </tr>

                    </thead>
            </table>
            </center>
                
            </div>

            
     
 
    
       



       <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>   
    </body>
</html>



