<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
        <title> Contact Us </title>
        

        <link href="https://fonts.googleapis.com/css?family=Exo|Pacifico" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/styles/style.css" type="text/css">
        <link rel="stylesheet" href="http://cdn.jsdelivr.net/animatecss/2.1.0/animate.min.css">
    </head>  
    <body>
            <ul class="nav nav-tabs">
                    <li class="dn  animated fadeIn"><a href="home.html">Home</a></li>
                    <li class ="da animated fadeIn"><a href="aboutus.html">About Us</a></li>
                    <li class ="dg animated fadeIn"><a href="howitworks.html">How It Works</a></li>
                    <li class ="dr  active animated fadeIn"><a href="contact.html">Contact Us</a></li>

                    <li class ="pull-right animated fadeInRight"><a href="#">Login</a></li>
                    <li class ="pull-right animated fadeInRight"><a href="#">Sign Up</a></li>
            </ul>
          
          
                
            </div>

            <h1 style="padding-top:50px;text-align:center; font-size:50px; ">Send Us an Email!</h1>
            
            <div class="contact-container" style=" text-align: center;">
                    <div class="col">
                        <div class="form-area">  
                            <form role="form">
                            <br style="clear:both">
                                        <h3 style="margin-bottom: 25px; text-align: center;">Contact Form</h3>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
                                        </div>
                                        <div class="form-group">
                                        <textarea class="form-control" type="textarea" id="message" placeholder="Message" maxlength="140" rows="7"></textarea>
                                            <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>                    
                                        </div>
                                
                            <button style="margin: 0 auto;"type="button" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>
                            </form>
                        </div>
                    </div>
                    </div>
                    
    
       



       <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>   
    </body>
</html>



