<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
        <title> FitYourGenes </title>
        
      
        <link href="https://fonts.googleapis.com/css?family=Exo|Pacifico" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/styles/style.css" type="text/css">
        <link rel="stylesheet" href="http://cdn.jsdelivr.net/animatecss/2.1.0/animate.min.css">
    </head>  
    <body>
            <ul class="nav nav-tabs">

                    <li class="dn active animated fadeIn"><a href="/">Home</a></li>
                    <li class ="da animated fadeIn"><a href="aboutus">About Us</a></li>
                    <li class ="dg animated fadeIn"><a href="howitworks">How It Works</a></li>
                    <li class ="dr animated fadeIn"><a href="contact">Contact Us</a></li>

                    <li class ="pull-right animated fadeInRight"><a href="#">Login</a></li>
                    <li class ="pull-right animated fadeInRight"><a href="#">Sign Up</a></li>
            </ul>


            
        </div>
        <div class="upper-content">
        <h1 class="header_title animated fadeInRight">FitYourGenes</h1>
        <h3 class="animated fadeInRight">Geneously unzipping your genes!</h3>

        <h2 class="dg animated fadeInLeft"><center>With genome sequences more readily available, you can now easily determine what diseases you are most susceptible to, your nutritional deficiencies, and more. <center></h2>
        <h4 class="dr animated fadeInRight">
        <blockquote>
           Cutting Edge technology, even sharper than me.
           <small> Elon Musk in <cite title = "Source Title"> The Wall Street Journal</cite></small>
        </blockquote>
        </h4>
        <h5 class="animated fadeInRight">
        <blockquote>
           I can't believe this works!
           <small> Me <cite title = "Source Title"> while coding</cite></small>
        </blockquote>
        </h5>

        </div>

        <div class="container">
        <center>
            {% if not reports %}
            <h1 style="padding-top:30px; padding-bottom:20px" class=" animated fadeInUp">Just connect with Genome, and we'll personalize dietary and exercise recommendations that's fit for you! </h1>
              <a href="{{ authorize_url }}">  <button style="font-size:20px;margin-bottom: 60px" class = "btn btn-default">Connect with Genome</button></a>
                      <!-- <script>$(":file").filestyle({buttonBefore: true});</script> -->
                
            {% else %}
            <h1 style="padding-top:30px; padding-bottom:20px;" class=" animated fadeInUp">Your genome sequence was succesfully analyzed!</h1>
              <a href="results">  <button style="font-size:20px; margin-bottom: 60px" class = "btn btn-default">See Your Results</button></a>
            {% endif %}

        </center>
        </div>





        
       
      




       <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>   
    </body>
</html>


