<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
        <title> How It Works </title>

        <link href="https://fonts.googleapis.com/css?family=Exo|Pacifico" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/styles/style.css" type="text/css">
        <link rel="stylesheet" href="http://cdn.jsdelivr.net/animatecss/2.1.0/animate.min.css">
    </head>  
    <body>
        <ul class="nav nav-tabs" style="padding:0px">
                <li class="dn animated fadeIn"><a href="home.html">Home</a></li>
                <li class ="da animated fadeIn"><a href="aboutus.html">About Us</a></li>
                <li class ="dg active animated fadeIn"><a href="howitworks.html">How It Works</a></li>
                <li class ="dr animated fadeIn"><a href="contact.html">Contact Us</a></li>

                <li class ="pull-right animated fadeInRight"><a href="#">Login</a></li>
                <li class ="pull-right animated fadeInRight"><a href="#">Sign Up</a></li>
        </ul>
     <div style="padding:0px 240px">  
    <div class="result_content">    
    <h1 style="padding-left:30px; padding-top:30px">How it Works</h1>
    <div class="left_content animated fadeInRight">
		<img src="../static/pictures/science.svg" class="leftpic">
        <h2 >Step One</h2>
        <p>Get your DNA tested and send it into a lab</p>
    </div>

    <div class="right_content animated fadeInLeft">
    	<img src="../static/pictures/computer.svg" class="rightpic" style="width:300px;height:400px;margin:-120px 60px">
    	<div style="float:right">
        	<h2 class="animated fadeInRight">Step Two</h2>
        	<p>Put your results into FitYourJeans</p>
        </div>
    </div>

    <div class="left_content animated fadeInRight">
    	<img src="../static/pictures/bars.svg" class="leftpic">
        <h2 class="animated fadeInRight">Step Three</h2>
        <p>Get personalized information about proper diet and health</p>
	</div>

    <div class="right_content animated fadeInLeft">
    	<img src="../static/pictures/heart.svg" class="rightpic">
	    <div style="float:right">
	        <h2 class="animated fadeInRight">Step Four</h2>
	        <p>Be helth</p>
	    </div>
    </div>

    </div> 
    </div>
    
       



       <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>   
    </body>
</html>



