<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
        <title> How It Works </title>

        <link href="https://fonts.googleapis.com/css?family=Exo|Pacifico" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/styles/style.css" type="text/css">
        <link rel="stylesheet" href="http://cdn.jsdelivr.net/animatecss/2.1.0/animate.min.css">
    </head>  
    <body>
        <ul class="nav nav-tabs" style="padding:0px">
                <li class="dn animated fadeIn"><a href="/">Home</a></li>
                <li class ="da animated fadeIn"><a href="aboutus">About Us</a></li>
                <li class ="dg active animated fadeIn"><a href="howitworks">How It Works</a></li>
                <li class ="dr animated fadeIn"><a href="contact">Contact Us</a></li>

                <li class ="pull-right animated fadeInRight"><a href="#">Login</a></li>
                <li class ="pull-right animated fadeInRight"><a href="#">Sign Up</a></li>
        </ul>
     <div style="padding:0px 240px">  
    <div class="result_content">    
    <h1 style="padding-left:30px; padding-top:30px">How it Works</h1>
    <div class="left_content animated fadeInRight">
		<img src="../static/pictures/science.svg" class="leftpic">
        <h2 >Send your DNA!</h2>
        <p>Send a DNA sample to the AWAKEN lab, and you'll get a document full of information about your genomes. There, they will calculate your genes in parts and attempt to parse through the data and pull out useful information for you.</p>
    </div>

    <div class="right_content animated fadeInLeft">
    	<img src="../static/pictures/computer.svg" class="rightpic" style="width:300px;height:400px;margin:-120px 0px; right:30%">
    	<div style="float:right">
        	<h2 class="animated fadeInRight">Put your results into FitYourJeans</h2>
        	<p>Your gene information will run through AWAKEN's genome link data and analyze aspects of your genome that you might not have known about yourself! These include dietary preferences, personality traits, and potential for disease that are all related to your DNA.</p>
        </div>
    </div>

    <div class="left_content animated fadeInRight">
    	<img src="../static/pictures/bars.svg" class="leftpic">
        <h2 class="animated fadeInRight">Get personalized information about diet and health</h2>
        <p>FitYourGenes takes the genomic information and presents the factors that you can affect by yourself for your own health and wellness. While you can't control your eye color, you definitely can use this information as motivation for fitness and overall wellness.</p>
	</div>

    <div class="right_content animated fadeInLeft">
    	<img src="../static/pictures/heart.svg" class="rightpic">
	    <div style="float:right">
            <div style="width:50%;position: relative;bottom:180px;left:50px;">
                <h2 class="animated fadeInRight">Be Healthy</h2>
                <p>Now that you are able to get information about how to maximize your health when you eat or exercise, you can go out into the world with a game plan for how to tackle fitness. We just hope that we were able to help you FitYourGenes (jeans heehhehehehehehe)</p>
            </div>  
	    </div>
    </div>

    </div> 
    </div>
    
       



       <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>   
    </body>
</html>



