body{
    background:white;
    font-family:Exo;
   
}

html{
    box-sizing:border-box;
    }
    *,*:before, *:after{
    box-sizing:inherit;
    }
    
.header_title{
    color:white;
    font-size:120px;
    font-family:Exo;
    
    padding-top:20px;
    padding-left:20px
}
.fileinput{
    
    padding-top:40px;
    padding-bottom:40px
}


.details{
    display:inline-block;
    width:100%;
    color:white;
}
.details h1{
    padding-top:20px;
    padding-left:20px;
}

.nav-tabs a{
    color:#000026;
    font-family:Exo;
    font-size:20px;
}

.upper-content{
  
    
    height:500px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("dna.png");
    background-repeat: no-repeat;

}

.upper-content h2{
    font-family:Exo;
    color:white; 
    width:500px;
    float: right;
    padding-right:10px;
}

.upper-content h3{
    color:white; 
    padding-left:30px;
    font-family: 'Exo',Light Italic;
}

.upper-content h4{
    animation-delay: 1s;
    color:white;
    position: relative;
    top:75px;
    left: 225px;
}
.upper-content h5{
    animation-delay: 1.5s;
    color:white;
    position: relative;
    top:75px;
    left: 150px;
}
.upper-content small{
    color:white;
}


.about h1{
    font-size:25px;
    font-family:Courier New;
}

.details h1{
   
    font-size:25px;
    font-family:Courier New;
}

.table{
    
    width:50%
}

.result_content h1{
    font-size:45px
}
.result_content .left_content{
    padding-bottom:50px;
    padding-top:50px;
    padding-left:30px;
    padding-right:30px;
    box-shadow: 0 4px 8px 0 rgba(114, 114, 114, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width:95%;
    float:left;
}

.result_content .right_content{
    padding-bottom:50px;
    padding-top:50px;
    padding-left:30px;
    padding-right:30px;
    box-shadow: 0 4px 8px 0 rgba(114, 114, 114, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width:95%;
    float:right;

}