body{
    background:white;
    font-family:Exo;
   
}

html{
    box-sizing:border-box;
    }
    *,*:before, *:after{
    box-sizing:inherit;
    }
    
.header_title{
    color:white;
    font-size:120px;
    font-family:Exo;
    
    padding-top:20px;
    padding-left:20px
}
.fileinput{
    
    padding-top:40px;
    padding-bottom:40px
}


.details{
    display:inline-block;
    width:100%;
    color:white;
}
.details h1{
    padding-top:20px;
    padding-left:20px;
}

.nav-tabs a{
    color:#000026;
    font-family:Exo;
    font-size:20px;
}

.upper-content{
  
    
    height:500px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("dna.png");
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;

}

.upper-content h2{
    font-family:Exo;
    color:white; 
    width:500px;
    float: right;
    padding-right:10px;
}

.upper-content h3{
    color:white; 
    padding-left:30px;
    font-family: 'Exo',Light Italic;
    width:300px;
}

.upper-content h4{
    animation-delay: 1s;
    color:white;
    position: relative;
    top:75px;
    width: 400px;
}
.upper-content h5{
    animation-delay: 1.5s;
    color:white;
    position: relative;
    top:75px;
    left: 150px;
    width: 300px;
}
.upper-content small{
    color:white;
    width: 500px;
}


.about h1{
    font-size:25px;
    font-family:Courier New;
}

.details h1{
   
    font-size:25px;
    font-family:Courier New;
}

.table{
    
    width:50%
}

.result_content h1{
    font-size:45px
}
.result_content .left_content{
    padding-bottom:50px;
    padding-top:50px;
    padding-left:60px;
    padding-right:30px;
    box-shadow: 0 4px 8px 0 rgba(114, 114, 114, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width:95%;
    float:left;
}

.result_content .right_content{
    padding-bottom:50px;
    padding-top:50px;
    padding-left:30px;
    padding-right:30px;
    box-shadow: 0 4px 8px 0 rgba(114, 114, 114, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width:95%;
    float:right;

}

.about-content img{
    margin:auto 0;
    height:500px;
    weight:500px
}

.about-content h1{
    padding-left:30px; 
    padding-top:30px; 
    padding-bottom:30px;
    text-align:center
}

.about-content .col-4{
    width:300px
    
}
 
.contact-container{
    margin: 0 auto; 
    width:400px;
}

.leftpic {
    position: relative;
    float: left;
    width: 150px;
    height: 150px;
    margin: 0px 40px 0px 30px;
}

.rightpic {
    position: relative;
    float: right;

    width: 200px;
    height: 200px;
    margin: 20px 140px 10px 140px;
}

.progress {
  height: 50px;
}
.progress .skill {
  font: normal 12px "Open Sans Web";
  line-height: 35px;
  padding: 0;
  margin: 0 0 0 20px;
}
.progress .skill .val {
  float: right;
  font-family: 'Arial';
  font-style: normal;
  font-size: 30px;
  margin: 0 30px 0 0;
  padding-top: 6px;
}

.progress-bar {
  text-align: left;
  transition-duration: 1s;
}

.leftbarbox {
    position: relative;
    width: 40%;
    left: 80px;
    float: left;
    font-size: 25px;
    margin-bottom: 150px;
}

.rightbarbox {
    position: relative;
    width: 40%;
    right: 80px;
    float: right;
    font-size: 25px;
}

h4, h5 {
    overflow: hidden;
}